# Node modules
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional: dist/output folders
dist/
build/
